*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*Header section styling*/
header .navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    width:100%;
    top:0;
}

header .navbar .menu{
    display:flex;
    list-style: none;
    margin:20px 0px;
}

header .navbar .menu li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

header .navbar .menu li a{
    text-decoration: none;
    padding:8px 25px;
    color:white;
    transition: all 0.5s ease;
}

header .navbar .menu li a:hover{
    color:black;
    background-color: white;
    box-shadow: 0 0 10px white;
}

/*Home styling section*/
#home{
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height:900px;
    justify-content: center;
    align-items: center;
    color: white;

}

#home::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    background: url("../Images/unnamed.jpg") no-repeat center;
    background-size: cover;
    height:900px;
    width:100%;
    z-index:-1;
    opacity: .8;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:38%;
    right:6%;
}

/*changes */
.text1 .text2 .text3{
    text-align: center;
    margin:40px 0px;
}

#home .main .text1{
    
    font-size: 28px;
    margin-right: 110px;
}

#home .main .text2{
    font-size: 75px;
    font-weight: 600;
    margin-right: 95px;
}

#home .main .text3{
    font-size: 30px;
    margin-right:20px;
}

#home .main .text3 span{
    color:rgb(111, 200, 235);
    font-weight:500;
}

.btn{
    padding:10px 35px;
    margin-top: 20px;
    margin-right: 70px;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    outline: none;
    transition: .6s ease;
}

.btn:hover{
    cursor:pointer;
    background-color: white;
    color:black;
    box-shadow: 0 5px white, 0 0 10px white;
    font-weight: bold;
}

/* About me section styling*/
#about{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

.headings{
    font-family:sans-serif;
    font-size: 3rem;
    text-align: center;
    margin:40px 0px;
    
}

#pic{
    display:flex;
}

#pic img{
    height: 500px;
    width: 50%;
    border-radius: 6px;
    object-fit: cover;
    margin-left: 35px;

}

#pic p{
    width:90%;
}


#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    width:55%;
    margin-left:35px;
}

#intro h2{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#intro p{
    line-height: 1.5;
    font-size: 1.3rem;
}

/*Work section*/
#work{
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    color:white;
    align-items: center;
    padding: 20px;
}
.gallery, .linked{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

#work .linked .project{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-decoration: none;
}

#work .linked .project img{
    padding:12px;
    width:570px;
    /* max-width: 100%; */
    height:400px;
    margin: 15px;
}

#work .linked .project img:hover{
    z-index:1;
    transform:scale(1);
    box-shadow: 0 25px 40px whitesmoke;
}

.gallery, .linked{
    position: relative;
}
.gallery .project img{
    width:360px;
    height: 240px;
    margin: 10px;
}

.gallery .project img:hover{
    z-index:1;
    transform:scale(1);
    box-shadow: 0 25px 40px whitesmoke;
}

/*updation*/
@media screen and (max-width: 767px){
    .project .overlay {
        opacity: 1;
        background: rgba(0,0,0,.55);
    }
    .project .overlay a:last-child{
        margin-top: 0;
    }
}

@media screen and (max-width: 1200px){
    .project .overlay a:last-child{
        margin-top: 15px;
    }
}

.project{
    position: relative;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.project:hover .overlay{
    opacity:1;
    background: rgba(0,0,0,.55);
}

.project .overlay{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    position: absolute;
    z-index: 2;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    color:#fff;
    opacity:0;
    transition-duration: .25s;
}

h4{
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding:0;
    margin:0 0 1.45rem;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    display:block;
}

.project .overlay ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0;
    padding: 0;
    margin: 0 0 1.45rem 1.45rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 40px;
}

.project .overlay ul li{
    padding-left: 0;
    color:#fff;
    margin-bottom: .725rem;
    display: list-item;
    margin-left: 5px;
    margin-right: 5px;


}

.project .overlay .btns{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
}

.project .overlay a{
    background: #3bb99b;
    color:#fff;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 15px;
    margin: 5px 15px;
    transition-duration: .25s;
}


/*footer styling section*/
#contact{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.9);
    color:white;
    padding:20px;
}

#contact-form{
    display:block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    padding: 15px;
    border-radius:5px;
    background-color: #eaeaea;
    margin-bottom: 50px;
}

.input-field{
    width:100%;
    border: 1px solid #c1c1c1;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    font-size:14px;
}

#contact-form label{
    line-height: 2.7em;
    color: brown;
}

#contact-form textarea{
    min-height:100px;
    font-size: 14px;
}

#submit-btn{
    margin-top: 10px;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    color:#fff;
    background-color: black;
    border:none;
}

/*footer*/
footer{
    /* background: #1b212f; */
    background: #c1c1c1;
    padding: 70px 0 50px 0;
    position: relative;
}
footer{
    display:block;
}

footer .pagelink{
    background: #e31b6d;
    cursor:pointer;
    font-size: 30pt;
    height: 50px;
    left:0;
    line-height: 40pt;
    margin: 0 auto;
    position:absolute;
    right: 0;
    top: -25px;
    transition: background 0.5s ease 0s;
    width: 47px;
    color:white;
}

.flex.row{
    flex-direction: row;
}

.arrow{
    display: inline-block;
    transform: translate(0,0);
    text-rendering: auto;
}

footer .fas{
    text-align:center;
}

footer .pagelink:hover{
    background: #fb1f79;
}

.page-link{
    display: inline-block;
    transform: translate(0,0);
    text-rendering: auto;
}

footer .icon-wrap .icon{
    background: #262f38;
    cursor:pointer;
    font-size: 18pt;
    height: 55px;
    margin: 0 15px;
    overflow:hidden;
    position:relative;
    text-align: center;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    width:55px;
}

footer .icon-wrap .icon:hover{
    background: #04c2c9;
    box-shadow: 0 0 0 3px rgb(4 94 201 / 10%);
    transform: scale(0.9);
}

.flex{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

a{
    color:inherit;
    text-decoration: none;
}

footer .icon-wrap .icon:hover .arrow{
    animation: toBottomFromTop 0.3s forwards;
    color: #fff;
}

footer .icon-wrap .arrow{
    text-align:center;
    color:#fff;
}

/*footnote*/
.info-box .divider{
    margin-left: 15px;
    margin-right: 15px;
}

.info-box p{
    font-size: 15pt;
    justify-content: space-between;
}

.info-box a{
    background-color: transparent;
    color: rgb(28, 8, 104);
}

.info-box a:hover{
    color:green;
}
footer .footnote{
    color: rgb(28, 8, 104);
    font-size: 15pt;
    margin-top: 35px;
    /* opacity: 0.6; */
}

.info-box div{
    display: block;
}
footer .footnote .highlight{
    color: #e31b6d;
    font-family: "Open Sans";
}

@media screen and (min-width: 800px){
    footer{
        font-size: 12pt;
        text-align:center;
    }
    footer .footnote{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
}

